@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-size: 18px;
  font-family: "Sans", sans-serif;
  font-weight: 400; /* любой вес между 300 и 800 */
  display: flex;
  width: 100vw;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;

  width: 428px;
  height: 100vh;
  background-color: #fffbff;
  padding: 24px 16px 16px 16px;
  border-radius: 8px;
}
.current-weekday {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.current-date {
  font-size: 16px;
}
#searchForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  margin-top: 16px;
  border-radius: 28px;
  padding: 8px 16px;
  background-color: #e6e2e9;
  font-size: 16px;
  border: none;
}
.search-input {
  width: 94%;
  height: 32px;
  /* margin-top: 16px; */
  /* border-radius: 28px; */
  /* padding: 8px 0; */
  background-color: #e6e2e9;
  font-size: 16px;
  border: none;
  padding-left: 8px;
}
.search-btn {
  /* width: 24px; */
  /* height: 24px; */
  padding: 6px 0;
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 48px;
  margin-top: 20px;
}
.filters > p {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  border: 2px solid gray;
  font-size: 16px;
  padding: 12px 0;
}
.active {
  background-color: #e8def8;
}
.filter-all {
  border-top-left-radius: 24px; /* Скруглить верхний левый угол на 15px */
  border-bottom-left-radius: 24px; /* Скруглить нижний левый угол на 10px */
}
.filter-finished {
  border-top-right-radius: 24px; /* Скруглить верхний левый угол на 15px */
  border-bottom-right-radius: 24px; /* Скруглить нижний левый угол на 10px */
}

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
} */
