@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-size: 18px;
  font-family: "Sans", sans-serif;
  font-weight: 400; /* любой вес между 300 и 800 */
  display: flex;
  width: 100vw;
  justify-content: center;
}
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 428px;
  height: 100vh;
  background-color: #fffbff;
  padding: 24px 16px 16px 16px;
  border-radius: 8px;
}
.current-weekday {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.current-date {
  font-size: 16px;
}
#searchBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  margin-top: 16px;
  border-radius: 28px;
  padding: 8px 16px;
  background-color: #e6e2e9;
  font-size: 16px;
  border: none;
}
.search-input {
  width: 94%;
  height: 32px;
  background-color: #e6e2e9;
  font-size: 16px;
  border: none;
  padding-left: 8px;
}
.search-input:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.search-btn {
  padding: 6px 0;
}

.search-btn:hover {
  cursor: pointer;
}
#filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 48px;
  margin-top: 20px;
}
#filters > button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: 16px;
  padding: 12px 0;
}

.filter-btn {
  border: 1px solid gray;
  background-color: #fffbff;
}
.filter-btn:hover {
  background-color: #e6e2e9;
  border: 2px solid gray;
  cursor: pointer;
}
.current {
  background-color: #e8def8;
}
.filter-all {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.filter-active {
  border: 1px solid gray;
  border-style: solid none;
}
.filter-finished {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
} */
#tasks {
  margin-top: 4px;
}
#tasks > li {
  list-style: none;
  display: flex;
  width: 100%;
  height: 62px;
  background-color: #f7f2fa;
  margin-top: 12px;
  border-radius: 16px;
}

#tasks > li > input {
  margin: 18px 16px;
  width: 24px;
  height: 24px;
  accent-color: #e8def8;
}

#tasks > li > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.task-date {
  font-size: 14px;
  color: #a5a1a8;
}

.task-todo {
  font-size: 16px;
  color: #a5a1a8;
}

.deleted-text {
  text-decoration: line-through;
}

.addNew {
  position: absolute;
  /* text-align: center; */
  padding: 16px;
  bottom: 16px;
  right: 16px;
  width: 56px;
  height: 56px;
  background-color: #ebdef7;
  border-radius: 16px;
}
