@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-size: 18px;
  font-family: "Sans", sans-serif;
  font-weight: 400; /* любой вес между 300 и 800 */
  display: flex;
  width: 100vw;
  justify-content: center;
}
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 428px;
  height: 100dvh;
  /* max-height: 100vh; */
  overflow: hidden; /* важно! */
  background-color: #fffbff;
  padding: 16px;
  border-radius: 8px;
}
.current-weekday {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.current-date {
  font-size: 16px;
}
#searchBar {
  display: flex;
  justify-content: space-between;
  width: 83%;
  height: 48px;
  margin-top: 8px;
  border-radius: 24px;
  padding: 5px 16px;
  background-color: #fffbff;
  font-size: 16px;
  /* border: none; */
  border: 1px solid #808080;
}
.search-input {
  width: 94%;
  height: 36px;
  background-color: #fffbff;

  font-size: 16px;
  border: none;
  padding-left: 8px;
}
.search-input:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.search-btn {
  padding: 6px;
}

.search-btn:hover {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 18px;
}
#filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 48px;
  margin: 12px 0;
}
#filters > button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: 16px;
  padding: 12px 0;
}

.filter-btn {
  border: 1px solid gray;
  background-color: #fffbff;
}
.filter-btn:hover {
  background-color: #e4d4ff;
}

.current {
  background-color: #e8def8;
}

.hidden {
  display: none;
}
.filter-all {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.filter-active {
  border: 1px solid gray;
  border-style: solid none;
}
.filter-done {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
} */
#tasks {
  margin-top: 4px 0 80px;
  overflow-y: auto;
  /*Чтобы задать строго ограниченный по высоте блок, который можно прокручивать.*/
  height: calc(100dvh - 160px);
  /* height: calc(100dvh - 260px); */
}
#tasks > li {
  list-style: none;
  display: grid;
  grid-template-columns: 48px 1fr 1fr 48px;
  grid-template-rows: auto auto;
  /* justify-content: space-between; */
  width: 100%;
  /* height: 48px; */
  background-color: #f7f2fa;
  margin-bottom: 12px;
  border-radius: 16px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;

  /* grid-template-areas: "task-checkbox task-date-before task-date-done task-edit",
    "task-checkbox task-todo task-todo task-edit"; */
}
#tasks > li:hover {
  background-color: #e6e2e9;
  border: 2px solid gray;
  cursor: pointer;
}

.task-checkbox-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.task-checkbox {
  place-self: center;
  grid-row: 1 / 3; /* занимает обе строки */
  grid-column: 1;
  /* margin: 18px 16px; */
  width: 24px;
  height: 24px;
  accent-color: #e8def8;
}
/* input[type="checkbox"] {
  width: 24px;
  height: 24px;
  accent-color: #e8def8;
} */

.task-date-before {
  margin-top: 4px;
  font-size: 14px;
  color: #a5a1a8;
  grid-column: 2;
  grid-row: 1;
}

.task-date-done {
  margin-top: 4px;
  font-size: 14px;
  color: #a5a1a8;
  grid-column: 3;
  grid-row: 1;
}

.task-todo {
  font-size: 18px;
  /* color: #a5a1a8; */
  color: #646365;
  /* width: 270px; */
  /* width: calc(100% - 126px); */
  grid-column: 2 / 4; /* растягивается на две колонки */
  grid-row: 2;
  padding: 4px 0;
}

.deleted-text {
  text-decoration: line-through;
}

.taskEditBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 36px; */
  width: 100%;
  border-radius: 15px;
  /* background: #efe5ff; */
  transition: 0.2s;

  grid-row: 1 / 3; /* занимает обе строки */
  grid-column: 4;

  /* grid-area: "task-edit"; */
}
.taskEditBtnContainer:hover {
  background-color: #e4d4ff;
  cursor: pointer;
}
.addNewTask {
  position: absolute;
  padding: 12px;
  top: 69px;
  right: 16px;
  width: 48px;
  height: 48px;
  background-color: #ebdef7;
  border-radius: 16px;
}
.addNewTask:hover {
  cursor: pointer;
  background-color: #e4d4ff;
  border: 1px solid gray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

/* ********************************************************************* */
/* Модальное окно */

.addNewTaskBlock {
  display: none; /* изначально скрыта */
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.33);
  /* opacity: 0.33; */
  width: 100%;
  height: 100%;
}

.addNewTaskBlock.active {
  display: block;
}

.addNewTaskForm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 328px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #f7f2fa;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  gap: 16px;
}

.addNewTaskForm > input {
  color: #49454f;
  font-size: 16px;
}
.addNewTaskForm > input:hover {
  background-color: #e6e2e9;
  border: 2px solid gray;
  cursor: pointer;
}

.addNewTaskForm > .horisontal-line {
  height: 36px;
  margin: 0 auto;
}
.addNewTaskForm > input {
  height: 56px;
  padding: 4px 16px;
  border: 1px solid #79747e;
  border-radius: 4px;
}

.addNewTaskForm > .remindMeBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remindMeBlock-text {
  font-size: 16px;
  padding: 0 8px;
}

.devider {
  height: 12px;
}

/* .btn-block {
  display: flex;
  justify-content: space-between;
  gap: 8px;
} */
/* #addNewTaskFormDeleteBtn {
  grid-area: deleteBtn;
}
#addNewTaskFormCancelBtn {
  grid-area: cancelBtn;
}
#addNewTaskFormSubmitBtn {
  grid-area: saveBtn;
} */

.btn-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  direction: rtl;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* gap: 8px; */

  /* grid-template-areas: "deleteBtn cancelBtn saveBtn"; */
}

.btn-block > input {
  height: 40px;
  width: 99px;
  border-radius: 24px;
  border: 1px solid #79747e;
  font-size: 14px;
  color: #6750a4;
  background-color: #f7f2fa;
  margin: 0 auto;
}

.btn-block > input:hover {
  background-color: #6750a4;
  color: #f7f2fa;
  cursor: pointer;
}
